.sidebar {
    width: 300px;
    margin: 16px;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    color: white;

    a {
        color: #c3c3c3 !important;
    }

    .active {
        color: #34d399 !important;
    }
}