.tocContainer {
    width: 250px;
    padding: 1rem;

    .tocTitle {
        padding-bottom: 1rem;
    }

    .toc a {
        display: block;
        padding: 4px 0 4px 12px;
        border-left: 2px solid transparent;
    }

    .toc a.active {
        border-left-color: #34d399;
        font-weight: 600;
    }
}

@media (max-width: 768px) {
    .tocContainer {
        display: none;
    }
}
