.tocContainer {
    width: 250px;
    padding: 1rem;

    .tocTitle {
        padding-bottom: 1rem;
    }

    .toc {
        li {
            list-style: none;
        }

        a {
            display: block;
            padding: 4px 0 4px 12px;
            border-left: 2px solid transparent;

            &.active {
                border-left-color: #5EB847;
                font-weight: 600;
            }
        }

        .depth2 {
            margin-left: .5rem;
            opacity: 0.85;
        }
    }
}

@media (max-width: 768px) {
    .tocContainer {
        display: none;
    }
}