.guideContainer {
    display: flex;
    box-sizing: border-box;
    padding: 0 2rem;
    height: calc(100% - 64px - 32px);
    width: 100%;
    min-width: 0;

    .guideContents {
        color: white;
        width: calc(100% - (250px + 16px + 16px));
        min-width: 0;
        margin-left: calc(250px + 16px + 16px);
        display: flex;
        box-sizing: border-box;
        justify-content: center;

        .guideLayout {
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            min-width: 0;
            max-width: 1240px;

            .guideArticle {
                flex-grow: 1;
                min-width: 0;
                width: 100%;
                height: 100%;
                overflow-y: auto;
                padding-top: 2rem;
                box-sizing: border-box;
            }
        }
    }
}

@media print {
    .guideContainer,
    .guideContainer .guideContents,
    .guideContainer .guideContents .guideLayout,
    .guideContainer .guideContents .guideLayout .guideArticle {
        display: block;
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: visible;
    }
}

@media (max-width: 768px) {
    .guideContainer {
        .guideContents {
            width: 100%;
            margin-left: 0;
        }
    }
}