.guideContainer {
    display: flex;
    box-sizing: border-box;
    padding: 0 2rem;
    height: calc(100% - 64px - 32px);
    width: 100%;
    .guideContents {
        color: white;
        width: calc(100% - (250px + 16px + 16px));
        margin-left: calc(250px + 16px + 16px) ;
        display: flex;
        justify-content: center;
        .guideLayout {
            display: flex;
            justify-content: space-between;
            height: 100%;
            max-width: 1240px;
            .guideArticle {
                flex-grow: 1;
                min-width: 0;
                width: 100%;
                height: 100%;
                overflow-y: auto;
                padding-top: 2rem;
                box-sizing: border-box;
                h1 {
                    color: #c3c3c3 !important;
                    font-size: 24px;
                }
            }
        }
    }

}

@media (max-width: 768px) {
    .guideContainer {
        .guideContents {
            width: 100%;
            margin-left: 0 ;
        }

    }
}