html, body {
    margin: 0;
    height: 100dvh;
    width: 100%;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

a,
a * {
    text-decoration: none !important;
    color: white !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}