.header {
    width: calc(100% - 32px);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    position: sticky;
    top: 16px;
    z-index: 9999;

    .left {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    .headerLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #c3c3c3 !important;
        object-fit: contain;
    }

    .headerLogoImage {
        height: 2rem;
        width: auto;
    }

    .navbar {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;

        a {
            color: #c3c3c3 !important;
        }
    }
}

@media (max-width: 768px) {
    .header {
        .navbar {
         display: none;
        }
    }

}